*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    }

    .img-logo{
        width: 568px;
        height: 500px;
        margin-left: 125px;
        display:inline-block;


    }
    
    header{
        margin: 44px 0 144px 76px
         
    }

   .link-header{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor:pointer;
    margin-right: 23px;

    
}

.btn-header{ 
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    

}

section{ 
    display:inline-block;
    margin-left: 86px;
}

h1{ 
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
 }

p{   font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;


     }

 .btn-explore{  

    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height:64px;
    border:none;
    cursor: pointer;
    filter: drop-shadow( 0px 4px 4px rgba( 0, 0, 0, 8.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
        
 }

 @media screen and (max-width: 700px) {

   .img-logo { width: 90%;
               height: 50%;
              position: static;
               display: block;
              
               margin-top: 200px;
               margin-left:24px ;
               margin-right: 24px;}
            
      

    section { display:block;
              height: auto;
              width: 100%;
              position: static;
              margin: 0;
              padding: 0; }


   

     header{ 
        display:none ;
     }


    h1{ 
        font-size: 50px;
        line-height: 60.95px;
        width: auto;
        text-align: center;
        margin-left: 64px;
        margin-top: 25px
     }  

   h2{ 
        font-size: 30px;
        line-height: 36.57px;
        width: auto;
        text-align: center;
        margin-top: 7px;
        margin-left: 79px;
        margin-right:20px;
    
}



   p{ display: none;}


   .btn-explore{ width: 239px;
                 height: 64px;
                 border-radius: 20.5px;
                 margin-left: 90px;
                 margin-right: 75px;
                 margin-top: 20px;
                 
                  

         
   }





 }

